# Python
__pycache__/
*.pyc

# Visual Studio Code
.vscode/

# Archivos generados
outputs/
graficos/
*.pdf
*.xlsx
*.png
*.jpg
*.jpeg
*.svg

# Entorno virtual si tienes
env/
venv/

# Excepciones para archivos importantes
!resources/imagen_portada.png